
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="bg-info BodypadAbout">
    <h1>About</h1>
    <div class="fontSize">
        <ul>
            <li>Full Name: Mosab Al Sherawy</li>
            <li>Birth date: 1983/02/19</li>
        </ul>
    </div>
    


    <h4>IT-knowledge</h4>
    <p>
        <h5>SoftWare</h5>

        <span class="font-weight-bold">Programming languages:</span> Python, C#.<br />
        <span class="font-weight-bold">Operating Systems:</span> ME, X P, NT, 2 k, 2003, Vista, 7, 10”Windows”, Ubunto, Debian.<br />
        <span class="font-weight-bold">IT Tools:</span>  Visual Studio 2019, Visual Studio Code, PyCharm. <br />

        <span class="font-weight-bold">Network:</span> Clients, Excellent TCP/IP Networking Knowledge, Firewalls, conducting an assessment of the supporting Network infrastructure, determining the existence and levels of
        Access controls for resources. Proxy Servers, FTP Clients, T FTP Server, Mail Servers, Print Servers. <br />
        <span class="font-weight-bold">Web:</span>  HTML, CSS, JavaScritp, Bootstrap, ASP.NET MVC. <br /> <br />

        <h5>Hardware: </h5>
        <span class="font-weight-bold">Laptop/Desktop: </span>Parts, Architecture, Assembly, Structure, Build of Personal Computers.<br />
    </p>
    <br />
    <h4>Education</h4>
    <p>
        <h5>2021- Current education / Lexicon Yrkesutbildningi Väst</h5>
        <ul>
            <li>C# (Code Flow and Data, OOP, Collections and Exceptions, Inheritance and Polymorphism).</li>
            <li>Front End (HTML, CSS, Bootstrap, JavaScript).</li>
            <li>Back End (ASP.NET MVC).</li>
        </ul>
        <br />
        <h5>2008-2008 / ICDL / ICDL GCC Foundation - Dubai</h5>
        <ul>
            <li>International computer driving license MS Office.</li>
        </ul>
        <br />
        <h5>2002 - 2004	/ MCSE / Formatech - Beirut </h5>
        <ul>
            <li>MCP:  Micrsofot certified profissional.</li>
            <li>MCSA: Microsoft certified system administrator.</li>
            <li>MCSE: Microsoft certified system engineer.</li>
        </ul>
        <br />
        <h5>2002 - 2004 / CCNA / SBS - Damascus</h5>
        <ul>
            <li>Cisco Certified Network Associate course completion.</li>
        </ul>
        <br />
        <h5>2002 - 2004 / Linux / SBS - Damascus</h5>
        <ul>
            <li>Linux Professional Institute LPI101 </li>
        </ul>
        <br />
        <h5>2001 - 2002	/ Gymnasieskola / AL Thaqafi - Damascus</h5>
        <ul>
            <li>Allmän utbildning.</li>
        </ul>
    </p>
    <br />
    <h4>Experience</h4>
    <div>
        <h5> 2017-02 - 2018-01 / Kock /	 Actasys AB - Halmstad</h5>
        <p> Cooking Middle Eastern food.</p>

    </div>
    <br />
    <h5>2015-12 – 2016-07 / Assistant/ Halmstad Ungdomar - Oskarström</h5>
    <div>Take care of young people, cook food from the Middle East.</div>
    <br />

    <h5>2007-06 – 2011-06 / Quality Assurance Officer / Technical Support:</h5>
    <div>Auditing for icdl exam sessions. Resolving online system technical issues if needed during sessions. I did Presentation workshop to centers staff (training and explain how to use exam online system).</div>
    <br />

    <h5>2007-06 - 2007-12 / Call Center Internet technical support / Etisalat – Ajman UAE</h5>
    <div>Contract Staff (Part Timer). Success in Technical support courses (Internet, Customer care). Technical support for internet services (Dial up, ISDN, ADSL, I Wan, I Zone, Leased Line ...) Operate LAN, WAN.</div>
    <br />


    <h5>2006-04 - 2006-07 / Trainer, Assistant Network Administrator / Sites Power Training Center DXB </h5>
    <div>Training for MCDST (Microsoft Certified Desktop support Technician) Course. I worked on Installation, administration, troubleshooting the network, ISA Server. Active Directory, RIS, VPN.</div>
    <br />

    <h4>Languages</h4>
    <ul>
        <li>Arabic: Native</li>
        <li>Swedish: Intermediate (reading and writing)</li>
        <li>English: Fluent (reading and writing)</li>
    </ul>
    <br />

    <h4>Other</h4>
    <p>Swedish driving licence AM, B</p>
    <br />


    <h4>References</h4>
    <p>References are provided on request.</p>


</div>





