
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}



<div class=" BodayContact container-fluid " >
    <h1>Contact</h1>
    <ul>
        <li><span class="font-weight-bold"> Address: </span>Andersbergsringen 25<br />Po. 30221 <br />Halmstad Sweden.</li>
        <li><span class=" font-weight-bold">Email: </span>mosabzx@gmail.com.</li>
        <li><span class=" font-weight-bold">Mobile:</span> +46737771507</li>
        <li><span class=" font-weight-bold">LinkedIn:</span><a href="https://linkedin.com/in/mosab-sh" target="blank"> LinkedIn Profile.</a></li>
        <li><span class=" font-weight-bold">GitHub: </span><a href="https://github.com/mosabzx" target="blank"> GitHub Profile.</a></li>
    </ul>
</div>



