
@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="container-fluid BodyProjects">
    <h1>Projects</h1>
    <br />
    <h3>Assignments</h3>
    <br />
    <h4>Programming:</h4>
    <ul>
        <li><span class="font-weight-bold">Lexicon evaluation test 1:</span><a href="https://github.com/mosabzx/Lexicon-Test" target="_blank"> Evaluation test 1</a> 16 tasks written on Python language.</li>
        <li><span class="font-weight-bold">Lexicon evaluation test 2:</span><a href="https://github.com/mosabzx/lottery-Ms" target="_blank"> Evaluation test 2</a> Lottery program written on C# language.</li>
        <li><span class="font-weight-bold">Calculater:</span> <a href="https://github.com/mosabzx/Calculator-Ms" target="_blank">Calculator with 6 operations.</a></li>
        <li><span class="font-weight-bold">Arena Fighter:</span><a href="https://github.com/mosabzx/Arenafighter-MS" target="_blank"> Arena fighter console game.</a></li>
        <li><span class="font-weight-bold">Golf:</span><a href="https://github.com/mosabzx/Golf-Game" target="_blank"> Golf console game.</a></li>
        <li><span class="font-weight-bold">Vending Machine:</span><a href="https://github.com/mosabzx/VendingMachine-Ms" target="_blank"> Vednding machine console program.</a></li>
    </ul>
    <br />
    <h4>Fron End:</h4>
    <ul>
        <li><span class="font-weight-bold">HTML:</span><a href="https://github.com/mosabzx/HTML-Assignment" target="_blank"> A standard HTML page.</a></li>
        <li><span class="font-weight-bold">CSS:</span><a href="https://github.com/mosabzx/CSS-Assignment" target="_blank"> HTML with CSS style.</a></li>
        <li><span class="font-weight-bold">Bootstrap:</span><a href="https://github.com/mosabzx/Bootstrap-Assignment" target="_blank"> HTML with bootstrap for responsive page style.</a></li>
        <li><span class="font-weight-bold">Java Script:</span><a href="https://github.com/mosabzx/JavaScrip-Assignment" target="_blank"> HTML page with Java script functions.</a></li>
    </ul>
    <br />
    <h4>Back End:</h4>
    <ul>
        <li><span class="font-weight-bold">ASP.NET:</span><a href="https://github.com/mosabzx/ASP.NET_MVC_Assignments" target="_blank"> MVC Apps </a> Layout and View, Form and Input, Guessing Game, Model View,Partial View.</li>
        
    </ul>
    <h4>Database:</h4>
    <ul>
        <li><span class="font-weight-bold">SQL:</span> Building a database from scratch, Inserting data in to tables and query the database.</li>
        <li><span class="font-weight-bold">Entity Framework:</span> Under Development.</li>
    </ul>

</div>


