@model ASP.NET_MVC_Assignments.Models.FormModel
@{
    ViewData["Title"] = "FeverCheck";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}


<div class="container-fluid BodyForm">
    <h1>FeverCheck</h1>
    <form asp-action="FeverCheck">
       
        <p>Please enter your tempreature and check whether if you have fever or not.</p>
        <div>
           <label asp-for="tempreature">Tempearture</label>
           <input type="number" asp-for="tempreature" step="any" />
        </div>
        <br />
        <input type="submit" value="Check" class="btn btn-primary" />
        <br/>
        <div>@ViewBag.Message</div>
    </form>

    

</div>


