@model IEnumerable<ASP.NET_MVC_Assignments.Models.PersonsModel>

@{
    ViewData["Title"] = "Peoples Partial View";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h1>Peoples</h1>
<div class="container-fluid ">
    <form class="d-flex" asp-action="Filter" asp-controller="Persons">
        <input class="form-control me-2" type="search" name="filter" placeholder="Filter" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Filter</button>
    </form>
</div>

<p>
    <a asp-action="Create">Add New</a>
    <br />
    
</p>


<table class="table">
    
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
   
    <tbody>
        @foreach (var item in Model)
        {
            <partial name="_PeoplePartial" model="item" />
            
        }


    </tbody>
</table>
